.services-container {
  padding: 5rem 2rem;
  background: #f9f8f4;
  text-align: center;
}

.services-container h2 {
  font-size: 2.4rem;
  color: #26394d;
  margin-bottom: 2.5rem;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.5rem 1rem;
  border: 2px solid #6B8E7B;
  background: #f6fdf9;
  color: #6B8E7B;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 550;
  transition: all 0.3s;
}

.filter-btn:hover {
  background: #6B8E7B;
  color: white;
}

.filter-btn.active {
  background: #6B8E7B;
  color: white;
}

/* Slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1425px;
  margin: 0 auto;
}

.slider-btn {
  background: white;
  border: 2px solid #6B8E7B;
  color: #6B8E7B;
  width: 52px;
  height: 47px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  justify-content: center;
}

.slider-btn:hover:not(:disabled) {
  background: #6B8E7B;
  color: white;
}

.slider-btn:disabled {
  opacity: 0.20;
  cursor: not-allowed;
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.service-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.35s ease-out;
  display: flex;
  height: 450px;
  flex-direction: column;
}

.service-card:hover {
  transform: translateY(-8px);
}

.card-image {
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

.card-tag {
  font-size: 0.9rem;
  color: #6B8E7B;
  text-transform: uppercase;
  font-weight: 650;
}

.card-info h3 {
  color: #1f374e;
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.card-info p {
  color: #535353;
  font-size: 0.9rem;
  line-height: 1.4;
  flex: 1;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #666;
}

.card-price {
  font-weight: 700;
  color: #6B8E7B;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .services-container {
    padding: 2.5rem 0.5rem;
  }

  .services-container h2 {
    font-size: 1.8rem;
  }

  .filters {
    gap: 0.4rem;
    margin-bottom: 2rem;
  }

  .filter-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
    max-width: 300px;
  }

  .service-card {
    display: none;
  }

  .service-card:first-child {
    display: flex;
  }

  .slider-btn {
    width: 38px;
    height: 38px;
    font-size: 1.3rem;
  }

  .card-image {
    height: 180px;
  }

  .card-info h3 {
    font-size: 1.2rem;
  }

  .card-info p {
    font-size: 0.9rem;
  }
}
